:root {
  --back-color: #B19CD9;
  --accent-color-1: #8155BA;
  --accent-color-2: #1E8EFF;
  --trend-color-1: #336633;
  --trend-color-2: #339933;
  --trend-color-3: #33CC33;
  --even-row-color: #F2F2F2;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body {
  background-color: var(--back-color);
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  padding: 30px 140px 50px 140px;
  max-width: 600px;
  min-height: 100vh;
  color: #333333;
  background-color: white;
  text-align: left;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  color: var(--accent-color-1);
  margin-bottom: 10px;
}

p {
  margin-top: 5px;
}

div {
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 6px;
}

tr:nth-child(even) {
  background-color: var(--even-row-color);
}

.trending {
  text-align: center;
}

.trending-left {
  text-align: right;
  background-color: white;
  padding-right: 10px;
  width: 60%;
}

.trending-right {
  text-align:left;
  background-color: white;
  padding-left:10px;
  font-weight: bold;
}

.trend-color-1 {
  color: var(--trend-color-1);
}

.trend-color-2 {
  color: var(--trend-color-2);
}

.trend-color-3 {
  color: var(--trend-color-3);
}

@media (max-width: 600px) {
  main {
    max-width: 600px;
    padding: 20px 20px 50px 20px;
    margin: 10px 0px 20px 0px;
  }
  div {
    margin-top: 60px;
  }
}
